<!DOCTYPE html>
<html>
  <head>
    <title>AngularExample</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body ng-app="angularExample">
    <%= yield %>
 <div class="left"><%= image_tag "angular.jpg", alt: "Mon image" ,width: 600 , height: 300 %></div>
  </body>
</html>
